$max-page-width: 935px;
$max-card-width: 600px;
$small-font-size: 12px;
$normal-font-size: 14px;
$big-font-size: 16px;

$tablet-width: 768px;
$desktop-width: 875px;
$xl-desktop-width: 1351px;
$phone-width: 320px;
$iphone6-width: 375px;
$iphone6plus-width: 450px;